{% extends 'uploader/base.html' %}

{% load static %}

{% block content %}
	{% if messages %}
	  {% for message in messages %}
	  	<div><p style='color:red'> {{ message }} </p></div> 
	  {% endfor %}
	{% endif %}	

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile" id="myfile"> 	
    Description: <input type="text" name="description">  <br>
    <button type="submit">Upload</button> <br>
  </form>

  {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}

<script type="text/javascript">

  var uploadField = document.getElementById("myfile");
  uploadField.onchange = function() {
      if(this.files[0].size > 30*1024*1024){
         alert("File too large. Size should not exceed 30 MiB!");
         this.value = "";
      };
  };
</script>

{% endblock %}